<%- include('../includes/head') %>
    <div class="flex items-center justify-center">
        <div class="flex-1 flex flex-col space-y-5 lg:space-y-0 lg:flex-row lg:space-x-10 max-w-6xl sm:p-6 sm:my-2 sm:mx-4 sm:rounded-2xl">
            <div class="flex-1 px-2 sm:px-0">
                <div class="flex justify-between items-center">
                    <h3 class="text-3xl font-extralight text-white/50">Convites</h3>
                </div>

                <% if(convites.length > 0) {%>
                    <% convites.forEach(convite=> { %>
                        <div class="relative group bg-gray-900 py-10 sm:py-20 px-4 flex flex-col space-y-2 items-center cursor-pointer rounded-md hover:bg-gray-900/80 hover:smooth-hover">

                            <h4 class="text-white text-2xl font-bold capitalize text-center">
                                <%= convite.descTime%>
                            </h4>
                            <p style="text-align: center;" class="text-white/50">
                                <%= convite.nomeUsuario%> te convidou para participar em
                                    <%= new Date(convite.dataConvite).toLocaleDateString()%>
                            </p>
                            <div class="w3-section">
                                <form action="/convites/<%= convite.id%>" method="POST">
                                    <input type="submit" name="resposta" value="Aceitar">
                                    <input type="submit" name="resposta" value="Recusar">
                                </form>
                            </div>
                        </div>
                        <% }) %>
                            <% } else {%>
                                <div class="relative group bg-gray-900 py-10 sm:py-20 px-4 flex flex-col space-y-2 items-center cursor-pointer rounded-md hover:bg-gray-900/80 hover:smooth-hover">
                                </div>
                                <% } %>
            </div>
        </div>
    </div>
    </div>